In [44]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans, MiniBatchKMeans

In [45]:
# data preprocess

df = pd.read_csv("BankChurners.csv")
df = df.iloc[:,:-2]
df.drop("Attrition_Flag", axis=1, inplace=True)
df = pd.get_dummies(df)
df.set_index('CLIENTNUM', inplace=True)

In [59]:
# Kmeans Clustering
km = MiniBatchKMeans(n_clusters=5)

In [60]:
km.fit(df)

MiniBatchKMeans(batch_size=100, compute_labels=True, init='k-means++',
                init_size=None, max_iter=100, max_no_improvement=10,
                n_clusters=5, n_init=3, random_state=None,
                reassignment_ratio=0.01, tol=0.0, verbose=0)

In [61]:
df_pred = km.predict(df)
df['grp'] = df_pred

In [64]:
df.groupby('grp').mean().iloc[:,20:]

,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
grp,,,,,,,,,,,,,,,,,
0,0.054688,0.149740,0.140625,0.082031,0.388021,0.440104,0.089844,0.332031,0.000000,0.134115,0.436198,0.000000,0.097656,0.493490,0.096354,0.019531,0.390625
1,0.050568,0.142903,0.151864,0.069131,0.482317,0.378301,0.070251,0.025124,0.211874,0.105297,0.073772,0.486798,0.097136,0.999520,0.000160,0.000000,0.000320
2,0.060000,0.167500,0.153750,0.092500,0.416250,0.406250,0.085000,0.163750,0.085000,0.263750,0.351250,0.001250,0.135000,0.885000,0.018750,0.001250,0.095000
3,0.051237,0.153710,0.160777,0.075972,0.457597,0.395760,0.070671,0.042403,0.219081,0.136042,0.106007,0.441696,0.054770,0.941696,0.003534,0.000000,0.054770
4,0.046445,0.147936,0.142202,0.077982,0.448968,0.396789,0.076261,0.091743,0.157110,0.202408,0.228211,0.153670,0.166858,0.900229,0.013761,0.002294,0.083716

In [65]:
df.columns

Index(['Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Gender_F', 'Gender_M', 'Education_Level_College',
       'Education_Level_Doctorate', 'Education_Level_Graduate',
       'Education_Level_High School', 'Education_Level_Post-Graduate',
       'Education_Level_Uneducated', 'Education_Level_Unknown',
       'Marital_Status_Divorced', 'Marital_Status_Married',
       'Marital_Status_Single', 'Marital_Status_Unknown',
       'Income_Category_$120K +', 'Income_Category_$40K - $60K',
       'Income_Category_$60K - $80K', 'Income_Category_$80K - $120K',
       'Income_Category_Less than $40K', 'Income_Category_Unknown',
       'Card_Category_Blue', 'Card_Category_Gold', 'Card_Category_Platinum',
       'Card_Category_Silver', 'grp'],
      dtype='object')